---
import { getAllPosts } from "../content.config";
import Layout from "../layouts/Layout.astro";
const events = await getAllPosts();
---

<Layout>
  <h1>Les Evènements sur Lille</h1>
  <ul>
    {
      events?.map((e) => {
        return e.events?.map((event: any) => {
          return (
            <li>
              <a href={event.link}>{event.title}</a>
            </li>
          );
        });
      })
    }
  </ul>
</Layout>
