---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
const events = await getEntry("events", "edinburghjs");
console.log(events);
---

<Layout>
  <h1>Les Evènements sur Lille</h1>
  <ul>
    {
      events?.data.events.map((event) => (
        <li>
          <a href={event.link}>{event.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
